.StartPage-StartInfo_text_day,
.StartPage-StartInfo_text_levelInfo {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.StartPage-StartInfo_text_caption {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.StartPage-InitImgDiv_image_initial {
  border-radius: 10px;
}

.StartPage-StartButton_button_start {
  background: #aa00ff;
  color: white;
  box-shadow: 0px 16px 32px rgba(170, 0, 255, 0.24);
  border-radius: 8px;

  position: fixed;
  bottom: 36px;
  height: 56px;
  line-height: 56px;
  width: 800px;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .StartPage-InitImgDiv_imgContainer {
    border-radius: 0;
  }

  .StartPage-InitImgDiv_image_initial {
    width: 100vw;
  }

  .StartPage-StartButton_button_start {
    width: 100%;
    bottom: 10vh;
    margin-top: 10vh;
  }
}
