.Form-input_email,
.Form-input_password {
  display: block;
  width: 500px;
  height: 25px;
  font-size: 18px;
}

.Form-input_email {
  margin-bottom: 5px;
}

.Form-Button_submit {
  padding: 5px 10px;
  margin-top: 10px;
  background: #1dabb8;
  border-width: 0;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}

.Form-Button_submit:active {
  opacity: 0.8;
}

.Form {
  text-align: right;
}

@media screen and (width < 550px) {
  .Form-input_email,
  .Form-input_password {
    width: 90vw;
  }
}
