.ExercisePage-WaitTimer_caption {
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.ExercisePage-WaitTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 370px;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}

@media screen and (max-width: 800px) {
  .ExercisePage-WaitTimer {
    width: 100vw;
    min-width: 0px;
  }
}
