.control {
  min-height: 200px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  width: 800px;
  justify-content: space-around;
}

.timerCaption {
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.controls {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.exerTimerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 370px;
}

.waitTimerDiv {
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}

@media screen and (max-width: 800px) {
  .control {
    width: 100vw;
  }

  .waitTimer {
    width: 100vw;
  }

  .exerTimerDiv {
    min-width: 0px;
  }
}
