.exercisePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nextButton,
.prevButton {
  height: 48px;
  width: 74px;
  background: none;
  border: none;
  padding: 0;
}

.nextButton:active,
.prevButton:active {
  background: hsla(280, 100%, 50%, 0.123);
  border-radius: 6px;
}

@media screen and (max-width: 800px) {
  .exercisePage {
    min-width: 0;
    width: 100vw;
  }
}
