.ExercisePage {
  margin-top: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ExercisePage_loophole {
  height: 80%;
}

@media screen and (max-width: 800px) {
  .exercisePage {
    min-width: 0;
    width: 100vw;
  }
}
