.AdminPage {
  display: flex;
  align-self: center;
  height: 100vh;
  width: 800px;
  flex-direction: column;
  align-items: center;
}

.AdminPage-inputContainer {
  text-align: center;
  width: 800px;
}

.AdminPage-input_workoutName {
  width: 94%;
  height: 25px;
  font-size: 20px;
}

.AdminPage-div_buttonContainer {
  margin-top: 10px;
  width: 800px;
}

.AdminPage-button_createWorkout {
  background: #aa00ff;
  color: white;
  box-shadow: 0px 16px 32px rgba(170, 0, 255, 0.24);
  border-radius: 8px;
  border-width: 1px;

  position: fixed;
  bottom: 36px;
  height: 56px;
  line-height: 56px;
  width: 800px;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.AdminPage-div_exerciseContainer {
  padding-bottom: 65px;
}

@media screen and (max-width: 800px) {
  .AdminPage {
    width: 100%;
  }

  .AdminPage-button_createWorkout {
    width: 100%;
  }

  .AdminPage-div_buttonContainer {
    width: 100%;
  }

}
