.StartPage-StartInfo_button_start {
  margin-top: 28px;
  background: #aa00ff;
  color: white;
  box-shadow: 0px 16px 32px rgba(170, 0, 255, 0.24);
  border-radius: 8px;
  
  position: sticky; 
  bottom: 28px;
  height: 56px;
  line-height: 56px;
  width: 800px;

  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .StartPage-StartInfo_button_start {
    width: 100%;
    bottom: 10vh;
    margin-top: 10vh;
  }
}
