.ExercisePage-ExerciseTimer_caption {
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.ExercisePage-ExerciseTimer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 370px;
}

@media screen and (max-width: 800px) {
  .ExercisePage-ExerciseTimer_container {
    min-width: 0px;
  }
}
