.Modal_WorkoutName {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.Modal-AdminExercise {
  width: 99%;
  display: flex;
  padding-bottom: 5px;
  align-items: center;
}

.Modal-AdminExercisesList {
  width: 99%;
  margin-left: 5px;
}

.Modal-ImageContainer_image {
  height: 64px;
  width: 64px;
}

.Modal-ExrInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

.Modal-ExrInfoContainer_title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.Modal-ExrInfoContainer_duration {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.Modal-checkbox {
  height: 19px;
  width: 19px;
}

.Modal-AdminExerciseView {
  display: flex;
  flex-direction: column;
}

.Modal-AdminExerciseView_exrCaption {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 5px 0 10px 0;
}

.Modal-UpdateButtonContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.Modal-Button_UpdateWorkout {
 font-size: 18px;
}


@media screen and (width < 640px) {
  .Modal-ExrInfoContainer {
    width: 75vw;
  }
}
