.startPage {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
}

.startPage::-webkit-scrollbar {
  width: 0;
}

hr {
  border: 0;
  height: 1px;
  background: #eeeeee;
}
