.StartPage {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
}

.StartPage::-webkit-scrollbar {
  width: 0;
}

hr {
  border: 0;
  height: 1px;
  background: #eeeeee;
  margin-top: 20px;
}
