.ExercisePage-Player_container {
  flex-grow: 5;
  width: 800px;
  min-height: 70%;
}

.ExercisePage-Player_video {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .ExercisePage-Player_container {
    width: 100vw;
    min-height: 0px;
  }
}
